<div class="min-h-screen flex surface-ground">
    <button class="menu-toggle lg:hidden absolute top-4 left-4 z-2 bg-bluegray-800 text-white p-2 rounded"
        (click)="toggleSidebar()">
        <i class="pi pi-bars text-2xl"></i>
    </button>

    <div id="app-sidebar-1"
        class="bg-bluegray-800 h-screen fixed left-0 top-0 z-50 transition-transform transform lg:translate-x-0"
        [ngClass]="{'-translate-x-full': !isSidebarVisible, 'translate-x-0': isSidebarVisible}" style="width:280px">
        <div class="flex flex-column h-full">
            <div class="flex align-items-center px-5 bg-bluegray-900 flex-shrink-0" style="height:60px">
                <img src="assets/images/logo_text_175x60.png" alt="Image" height="60">
            </div>
            <div class="overflow-y-auto mt-3">
                <ul class="list-none p-3 m-0">
                    <li>
                        <a pRipple class="flex align-items-center cursor-pointer p-3 hover:bg-bluegray-900 border-round text-bluegray-100 hover:text-bluegray-50
                            transition-duration-150 transition-colors" routerLink="dashboard">
                            <i class="pi pi-home mr-2"></i>
                            <span class="font-medium">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a pRipple class="flex align-items-center cursor-pointer p-3 hover:bg-bluegray-900 border-round text-bluegray-100 hover:text-bluegray-50
                            transition-duration-150 transition-colors" routerLink="users">
                            <i class="pi pi-user mr-2"></i>
                            <span class="font-medium">Usuários</span>
                        </a>
                    </li>

                    <li>
                        <a pRipple class="flex align-items-center cursor-pointer p-3 hover:bg-bluegray-900 border-round text-bluegray-100 hover:text-bluegray-50
                            transition-duration-150 transition-colors" routerLink="products">
                            <i class="pi pi-cart-minus mr-2"></i>
                            <span class="font-medium">Produtos</span>
                        </a>
                    </li>
                    <li>
                        <a pRipple class="flex align-items-center cursor-pointer p-3 hover:bg-bluegray-900 border-round text-bluegray-100 hover:text-bluegray-50
                            transition-duration-150 transition-colors">
                            <i class="pi pi-comments mr-2"></i>
                            <span class="font-medium">Mensagens</span>
                            <span
                                class="inline-flex align-items-center justify-content-center ml-auto bg-yellow-500 text-bluegray-900 border-circle"
                                style="min-width: 1.5rem; height: 1.5rem">3</span>
                        </a>
                    </li>
                    <li>
                        <a pRipple class="flex align-items-center cursor-pointer p-3 hover:bg-bluegray-900 border-round text-bluegray-100 hover:text-bluegray-50
                            transition-duration-150 transition-colors">
                            <i class="pi pi-calendar mr-2"></i>
                            <span class="font-medium">Calendário</span>
                        </a>
                    </li>
                    <li>
                        <a pRipple class="flex align-items-center cursor-pointer p-3 hover:bg-bluegray-900 border-round text-bluegray-100 hover:text-bluegray-50
                            transition-duration-150 transition-colors">
                            <i class="pi pi-cog mr-2"></i>
                            <span class="font-medium">Configurações</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="mt-auto">
                <hr class="mb-3 mx-3 border-top-1 border-none border-bluegray-600" />
                <ul
                    class="list-none p-2 m-0 hidden origin-bottom animation-duration-150 overflow-hidden animation-ease-in-out">
                    <li>
                        <a pRipple class="flex align-items-center cursor-pointer p-3 hover:bg-bluegray-900 border-round text-bluegray-100 hover:text-bluegray-50
                        transition-duration-150 transition-colors">
                            <i class="pi pi-user mr-2"></i>
                            <span class="font-medium">Perfil</span>
                        </a>
                    </li>
                    <li>
                        <a pRipple class="flex align-items-center cursor-pointer p-3 hover:bg-bluegray-900 border-round text-bluegray-100 hover:text-bluegray-50
                        transition-duration-150 transition-colors">
                            <i class="pi pi-cog mr-2"></i>
                            <span class="font-medium">Configurações</span>
                        </a>
                    </li>
                    <li>
                        <a pRipple class="flex align-items-center cursor-pointer p-3 hover:bg-bluegray-900 border-round text-bluegray-100 hover:text-bluegray-50
                        transition-duration-150 transition-colors" routerLink="/login">
                            <i class="pi pi-sign-out mr-2"></i>
                            <span class="font-medium">Sair</span>
                        </a>
                    </li>
                </ul>
                <a pRipple class="m-3 px-3 py-2 flex align-items-center hover:bg-bluegray-900 border-round cursor-pointer text-bluegray-100 hover:text-bluegray-50
                    transition-duration-150 transition-colors" pStyleClass="@prev" enterFromClass="hidden"
                    enterActiveClass="slidedown" leaveToClass="hidden" leaveActiveClass="slideup">
                    <img src="assets/images/avatar_standard.webp" class="mr-2" style="width: 28px; height: 28px" />
                    <span class="font-medium">Amy Elsner</span>
                    <i class="pi pi-chevron-up ml-auto"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="min-h-screen flex flex-column flex-auto content p-5">
        <router-outlet></router-outlet>
    </div>
</div>